@font-face {
    font-family: 'Geist';
    src: url('./fonts/Geist-Medium.ttf');
}

@font-face {
    font-family: 'Geist-Italic';
    src: url('./fonts/Geist-MediumItalic.ttf');
}

input {
    font-family: 'Geist';
}

input[type='button'] {
    cursor: pointer;
}

.ita {
    font-family: 'Geist-Italic';
}

.shell {
    min-height: 75vh;
}

.opaque {
    opacity: 0;
}

/* .temp-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border: 2px black solid;
    min-height: 5em;
    width: 5em;
} */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-1 {
    border: 1px solid black;
}

.border-2 {
    border: 1px dotted red;
}

.border-3 {
    border: 1px dashed blue;
}

.team-divider {
    border-left: 1px solid black;
    height: 70%;
    margin: auto;
}

.category-tiles-flexbox {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 12.5%;
    margin-right: 12.5%;
    height: 73.5vh;
    justify-content: center;
}

.category-tile {
    position:relative;
    flex: 0 0 24%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
    background-color: rgba(255, 255, 255, .45);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    font-family: 'Geist';
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    text-shadow: 1px 1px 4px #ffffff;
    transition: background-size .2s ease-in-out;
}

.category-tile-4 {
    max-height: 55%;
}

.category-tile-8 {
    max-height: 47.5%;
}

.category-tile-12 {
    max-height: 31%;
}

.category-tile div {
    position: absolute;
}

.category-tile:hover {
    background-size: 110% 110%;
}

.category-tile:hover .category-tile-floating-name {
    padding-left: 2%;
    width: 96%;
}

.category-tile-flex-item:hover {
    background-size: auto 110%;
}

.category-tile-flex-item div {
    position: absolute;
}

.category-tile-floating-name {
    text-align: left;
    padding-left: 5%;
    padding-right: 2%;
    top: 18%;
    width: 93%;
    background-color:rgba(0, 0, 0, 0.3);
    font-size: 20px;
    transition: padding-left .2s ease-in-out,
                width .2s ease-in-out;
}

.category-tile-floating-count {
    top: 90%;
    right: 5%;
    left: 5%;
    font-size: 16px;
    text-align: center;
}

.floating-bg {
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index:-100;
    opacity: 0;
}

.floating-bg-appear {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.teams-zone {
    font-family: 'Geist';
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    min-height: 125px;
    height: inherit;
    margin-top: auto;
    width: 98%;
}

.center-content {
    display: flex;
    justify-content: center;
    height: 23.5vh;
}

.team-container {
    margin-left: 1%;
    margin-right: 1%;
    width: 60%;
    min-width: 10%;
}

.team-players {
    width:80%;
    height: 100%;
}

.team-players > div {
    height: inherit;
    background: gray;
    border-radius: 10px;
}

.team-players > div > div {
    display: flex;
    flex-wrap: wrap;
}

.team-players .player-label {
    width: fit-content;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    padding: 2px;
    background: lightgrey;
    border-radius: 5px;
}

.team-players-and-score {
    display: flex;
    height: 80%;
}

.team-score {
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    height: 95%;
}

.team-label {
    background: darkgray;
    padding-left: 15px;
    font-size: 24px;
    border-radius: 10px;
}

.score-button {
    border-radius: 5% / 50%;
    border-top: none;
    border-left: none;
    background: lightcyan;
    /* transition: border  */
}

.score-button:hover {
    background: lightblue;
}

.plus-button {
    margin: 3px;
    width: 96%;
    height: 40%;
}

.plus-button:active {
    background: lightgreen;
    transition: border 1s ease-in;
}

.minus-button {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.minus-button:active {
    background: lightcoral;
}

.score-label {
    height: 50%;
    font-size: x-large;
    text-align: center;
}

#player-overlay {
    cursor: default;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    cursor: pointer;
}

.background-overlay {
    pointer-events: none;
    cursor: default;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(241, 78, 78, 0.285);
    z-index: -500;
}

#back-box {
    position: absolute;
    top: 1em;
    left: 1em;
}

.music-player {
    position: relative;
    cursor: default;
    left: 7.5%;
    top: 7.5%;
    width: 85%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 2px white;
}

.song-info {
    height: 92%;
    font-family: 'Geist';
    color: white;
    font-size: 32px;
    transition: opacity 1s linear;
    gap: 4em;
}

.song-info img {
    filter: drop-shadow(0 0 2rem white);
    object-fit: contain;
    /* width: 500px; */
    height: 500px;
}

.song-info tr > td {
    text-align: right;
    padding: 4px;
}

.song-info tr td:last-child {
    text-align: left;
}

.pause-button {
    width: 100px;
    height: 50px;
}

/*  thanks to kirti vernekar's clever css countdown spinner for getting me started
    https://codepen.io/kirtivernekar/pen/PoJOMbb */
.timer {
    margin: auto;
    width: inherit;
    height: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.timer-disappear {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.timer-disappear > svg > circle {
    opacity: 0;
    r: 100;
    transition: opacity .5s ease,
                r 1s ease;

}

.timer > svg {
    width: 100%;
    height: 100%;
}

.timer > svg > circle {
    fill: none;
    stroke-opacity: 0.3;
    stroke: #0d6efd;
    stroke-width: 40;
    transform-origin: center center;
    transform: rotate(-90deg);
}

.timer > svg > circle + circle {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    stroke-linecap: butt;
    stroke-opacity: 1;
}

.timer.animatable > svg > circle + circle {
    transition: stroke-dashoffset .1s linear;
}

.timer > svg > text {
    font-size: 4rem;
}

.timer > svg > text + text {
    font-size: 1rem;
}

.timer /*> svg > text*/ {
    font-family: 'Geist';
    fill: white;
}